#Menu {
  text-align: center;
}
#form #list {
  place-self: center;
  text-align: left;
  font-size: 2rem;
}
#form {
  margin-left: 10rem;
  display: flex;
  gap: 0rem;
}
#image__area {
  box-shadow: black 0 5px 15px;
  width: 15rem;
  border-radius: 10px;
  margin-left: 30rem;
}
#cost {
  display: flex;
  gap: 2rem;
  place-self: center;
}

#image__area img {
  border-radius: 10px;
  width: 15rem;
  height: 15rem;
}
form {
  font-size: 2rem;
}
form input {
  width: 20rem;
  height: 3rem;
  border-radius: 8px;
  font-size: 2rem;
}
form button {
  width: 10rem;
  height: 3rem;
  border-radius: 8px;
  margin-top: -5rem;
  font-size: 2rem;
}

@media (max-width: 600px) {
  #Menu {
    text-align: center;
  }
  #form {
    margin-left: 0rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 0rem;
  }
  #form #list {
    place-self: left;
    text-align: left;
    font-size: 1rem;
  }
  #image__area {
    box-shadow: black 0 5px 15px;
    width: 10rem;
    border-radius: 10px;
    margin-left: 3rem;
  }
  #image__area img {
    border-radius: 10px;
    width: 10rem;
    height: 7rem;
  }
  #image__area h2 {
    font-size: 1rem;
  }
  form {
    font-size: 1rem;
  }
  form input {
    width: 15rem;
    height: 2rem;
    border-radius: 8px;
    font-size: 1.2rem;
  }
  form button {
    width: 8rem;
    height: 2rem;
    border-radius: 8px;
    margin-top: -5rem;
    font-size: 1.1rem;
  }
}
