#Header {
  background: url(assets/back.jpeg);
  height: 24rem;
}
#Header #cover {
  top: 0;
  right: 0;
  left: 0;
  bottom: 41%;
  position: absolute;
  background-color: rgba(17, 17, 17, 0.4);
}
#Header #logo__area {
  z-index: 2;
}
#Header #logo__area img {
  width: 15rem;
}

#Header #on-top {
  color: white;
  z-index: 2;
  position: relative;
  display: block;
}
#Header a {
  color: white;
}
#Header #on-top h2 {
  text-align: center;
}
#Header #logo__nav {
  display: inline-flex;
  gap: 35rem;
}
#Header #on-top ul {
  display: flex;
  gap: 5rem;
  font-size: 1.5rem;
  margin-top: 5rem;
  font-weight: 700;
}
ul {
  list-style: none;
}
#footer {
  background-color: bisque;
  text-align: center;
  font-size: 2rem;
}
#footer .socials {
  place-content: center;
  display: flex;
  gap: 2rem;
}
#Contact {
  text-align: center;
}
#map {
  margin-left: 5rem;
  place-self: center;
}
#menu {
  margin-top: 3rem;
  display: none;
}
/* MEDIA QUERIES */

@media (max-width: 600px) {
  #Header {
    height: 19.5rem;
  }
  #Header #logo__nav {
    display: inline-flex;
    gap: 10rem;
  }

  #Header #logo__area img {
    width: 10rem;
  }
  #menu {
    display: block;
    color: white;
    font-size: 2rem;
  }
  #Header #on-top ul {
    display: none;
    gap: 35rem;
  }
  #menubar {
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    z-index: 3;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    color: black;
  }
  #menubar li {
    font-size: 2rem;
    text-align: center;
    margin: 0.2rem;
  }
  #menubar a {
    color: black;
  }
  #Header #cover {
    top: 0;
    right: 0;
    left: 0;
    bottom: 43%;
    position: absolute;
    background-color: rgba(17, 17, 17, 0.4);
  }
}
